<section class="d-flex flex-column align-items-start justify-content-start shadow-sm p-2">
    <section class="align-self-end justify-self-end">
        <span class="primary-text date">for: {{for_}}</span>
    </section>
    <section>
        <section>
            <span>{{message}}</span>
        </section>
    </section>

    <section class="d-flex align-items-center justify-content-end">
        
        <a class="clickable p-2 rounded shadow-sm" (click)="edit()">Edit</a>
    </section>
</section>