<app-counts-header
[title]="title"
[name]="name"
[count]="activities.actions.length"
></app-counts-header>

<div class="flexed column padding-point-5em">
    <div class="margin-point-5em padding-point-8em curved-point-5em big-grey-shadow" *ngFor="let action of activities.actions">
        <div class="flexed column align-items-start justify-content-start">
            <span>{{action.description}}</span>
            <span class="align-self-end color-black-faded date">{{action.date}}</span>
        </div>
    </div>
</div>