<!-- alert -->
<app-alert [message]="feedback" [type]="type" *ngIf="feedback != ''"></app-alert>

<app-header [title]="'NAIJASAVE'" [loggedIn]="false" [canMoveBack]="false"></app-header>

<main class="body shadow pull-up-3">
    <!-- <mat-spinner *ngIf="countingRequests" [diameter]="20" mode="indeterminate"></mat-spinner> -->
    <div class="move-down"></div>
    <p class="mt-5 welcome">Hi, <span class="welcome-message primary-text">Admin!</span></p>

    <p class="mt-3 instruction mb-5">Please sign in to continue.</p>

    <!-- form fields-->
    <form [formGroup]="form" class="forms-input-container mt-4">
        <mat-spinner [diameter]="20" *ngIf="signingin" mode="indeterminate" class="away-from-right color-white"></mat-spinner>

        <!-- Phone number or username form-field-->
        <section class="form-field d-flex shadow-sm flex-column p-2">
            <label class="label">Phone or Username</label>

            <section class="input-container d-flex align-items-center">
               <input formControlName="phoneNumber" class="input flex-grow-1" placeholder="Ex: 08155909541 or LA-ER-0006" />
            </section>
        </section>

        <!-- Password form-field-->
        <section class="form-field d-flex shadow-sm flex-column p-2">
            <label class="label">Password</label>

            <section class="input-container d-flex align-items-center">
               <input formControlName="password" type="password" class="input flex-grow-1" placeholder="Ex: 12345" />
            </section>

        </section>
    </form>

    <section class="d-flex align-items-end justify-content-end">
        <!-- Login button -->
        <button class="main-btn d-flex align-items-center justify-content-center shadow-sm mt-3" (click)="submit()">Login <i class="pi pi-arrow-right ml-2 pl-2"></i></button>
    </section>
</main>
<app-footer></app-footer>