.move-down {
    margin: 6em !important;
}

.loginsignup-title {
    font-family: source-sans-pro-black;
}

.welcome {
    font-size: 2.5em;
    font-family: raleway-light;
}

.welcome-message {
    color: #3C6FB7;
    font-family: raleway-extra-bold;
}

.instruction {
    font-family: raleway-light;
}
