<!-- alert -->
<app-alert [message]="feedback" [type]="type" *ngIf="feedback != ''"></app-alert>

<app-header [title]="'Signup Requests'"></app-header>

<main class="body shadow pull-up-3">
  <div fxLayout='column' *ngIf="fetchingRequests || approving" fxLayoutAlign="center center" class='spinner-container'>
    <mat-spinner [diameter]="20" mode="indeterminate"></mat-spinner>
  </div>

    <section class="toolbar d-flex align-items-center justify-content-end">
        <p class="key-value-text"><span>Total Requests:</span> <span>{{signupRequests.length}}</span></p>
    </section>

    <div class="shadow-sm mb-3" *ngFor="let request of signupRequests">
      <section class="req d-flex align-items-center justify-content-between p-1">
        <span class="p-2">Username</span>
        <span class="p-2 d-flex align-items-center">{{request.username}}</span>
      </section>

      <section class="req d-flex align-items-center justify-content-between p-1">
        <span class="p-2">Full Name</span>
        <span class="p-2 d-flex align-items-center">{{request.name}}</span>
      </section>

      <section class="req d-flex align-items-center justify-content-between p-1">
        <span class="p-2">Phone Number</span>
        <span class="p-2 d-flex align-items-center">{{request.phoneNumber}}</span>
      </section>

      <section class="req d-flex align-items-center justify-content-between p-1">
        <span class="p-2">Account Type</span>
        <span class="p-2 d-flex align-items-center">{{request.accountType}}</span>
      </section>

      <section class="req d-flex align-items-center justify-content-between p-1">
        <span class="p-2">Registered on</span>
        <span class="p-2 d-flex align-items-center">{{request.regDate}}</span>
      </section>

      <section *ngIf="request.accountType == 'contributor'" class="req d-flex align-items-center justify-content-between p-1">
        <span class="p-2">Daily Savings</span>
        <span class="p-2 d-flex align-items-center">{{request.dailySavings}}</span>
      </section>

      <section class="req d-flex align-items-center justify-content-between p-1">
        <span class="p-2">Address</span>
        <span class="p-2 d-flex align-items-center">{{request.address}}</span>
      </section>

      <section class="d-flex align-items-center justify-content-end">
        <a class="clickable p-1 justify-self-end align-self-end text-right" (click)="approve(request._id!!)">Approve</a>
        <a class="clickable coral p-1 justify-self-end align-self-end text-right" (click)="reject(request._id!!)">Reject</a>
        <a class="clickable p-1 justify-self-end align-self-end text-right" (click)="editSignupRequest(request._id!!)">Edit Request</a>
      </section>
    </div>

</main>
<app-footer></app-footer>