.req {
    span {
        font-family: source-sans-pro-light;
        color: #389FF4;
  
        &:last-child {
            font-family: source-sans-pro-bold;
            color: coral;
  
            i {
                color: rgba(255, 127, 80, 0.452);
                margin-left: .6em;
            }
        }
    }
  }
  
  a.clickable {
    font-size:  .9em;
    cursor: pointer;
    text-align: end;
    font-family: source-sans-pro-regular;
    text-decoration: none;
    color : #113975;
    padding: .8em;
  }
  
  .coral {
    color: coral;
  }
  