section.contributor-details {
    div.avatar-placeholder {
        width: 3.5em;
        height: 3.5em;
        background-color: #f55f5fd2;
        border-radius: 50%;
    }

    section {
        margin-left: .5em;
        * {
            padding: 0 !important;
            margin-top: .9em;
            font-family: source-sans-pro-light;
        }

        p.contributor {
            span.name {
                font-family: source-sans-pro-bold;
                font-size:  1.2em;
            }

            span.account-type {
                span {
                    &:last-child {
                        color: rgba(82, 81, 81, 0.699);
                    }  
                }
                
            }
        }
    }
}

