<app-header></app-header>
<mat-card class="option">
    <div fxLayout="row" fxLayoutAlign="flex-start">
        <h1>Terms and Conditions</h1>
      </div> 
</mat-card>

<mat-card class="option">
    <div fxLayout="column" fxLayoutAlign="flex-start">
        <p>
            The company is not in support of money laundering. We are committed to help you achieve your aims in saving the little amount you think it can never be yielded into anything.<br>
            We are committed to give you the platform whereby you can save and seat comfortably while you can access your account any time any day and you watch your money grow for good.
            <br><br>
        </p>

        <h1>Disclaimer</h1>

        <p>
            The Company will not be liable for any lost of misplacing your login details out to third party, ou are to always keep your account details save anytime.<br>

            The company will be taking a sum little percentage for maintenance and transportation of our field sales rep. because we will make sure we give you more access and privilege to save at the comfort of your home in respective of anywhere you are accross the country.<br>

            Kindly note, aside from giving u access to monitor your savings, we will also give you card for you to always present to any of our representative it is your duty to make sure the card was signed and the main part your are been credited immediately to avoid any accusations, lost of savings and arguments.<br>

            Also note that if you wish to save your mone for a period of three months without parking it, then it is a great opportunity for you because instead of you keeping the money in user account and nothing is adding up to it, you are advised to open an investor account whereby you will be able to access kyc3 and enjoy more offer from the company.<br>

            Lastly, note this agreement can be reviewed at any time as the company has every right to do so.
        </p>
      </div> 
</mat-card>
