<app-header [title]="'Transactions History'"></app-header>


<main class="body shadow pull-up-3">
    <mat-spinner [diameter]="20" *ngIf="fetchingHistory" mode="indeterminate" class="align-self-center justify-self-center"></mat-spinner>

    <section *ngIf="transactionsHistory.length > 0" class="toolbar d-flex align-items-center">
      <a class="clickable coral p-2 rounded shadow-sm">Save PDF</a>
    </section>

    <section *ngIf="transactionsHistory.length == 0" class="d-flex p-2 align-items-center justify-content-center">
      <span class="danger-text">No transactions</span>
    </section>

      <table *ngIf="transactionsHistory.length > 0"  class="mt-3 table table-striped table-borderless">
        <thead class="thead-dark rounded">
          <tr class="rounded">
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Statement</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="showTransactionSlip(h._id!!)"  class="rounded" *ngFor="let h of transactionsHistory">
            <td>{{h.date}}</td>
            <td>{{h.amount}}</td>
            <td>{{h.statement}}</td>
          </tr>
        </tbody>
      </table>

</main>
<app-footer></app-footer>
