<header class='header background-blue big-grey-shadow curved-bottom-point-9em flexed column occupy no-padding align-items-start justify-content-space-between'>
    <div class="top-bar flexed row occupy no-margin padding-point-5em justify-content-space-between align-items-center">
        <div class="flexed row no-padding align-items-center">
            <button class="color-white" mat-icon-button (click)="moveBack()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <span class='head color-white'>{{title}}</span>
        </div>
        <ul fxLayout='row' fxLayoutGap='20px'>
            <li>
                <button class="color-white" mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="signOut()">
                            <mat-icon>exit_to_app</mat-icon>
                            Sign out
                        </button>
                    </mat-menu>
            </li>
        </ul>
    </div>

    <!-- balance -->
    <div class="flexed column occupy align-items-center justify-content-end">
        <span class="balance-text color-white-faded margin-bottom-point-5em">Available Balance</span>
        <span class="bigger color-white-faded">N{{balance}}</span>
    </div>
</header>
