.header {
    height: 13em;
}
.top-bar {
    height: 3em;
}

ul li {
    list-style: none;
}

.head {
    font-size: 1.5em;
}


.balance {
    font-size: 1.9em;
}


.balance-text {
    font-size: .8em;
}

