.option {
    margin: .4em;
}

.bg-3  {
    background-color: rgb(31, 113, 219);
}

.table-container {
    margin: 15px;
}

.overflowed {
    overflow-x: scroll;
}
.contributorsTitle  {
    margin-left: 7px;
}
.right-btn {
    margin-right: 10px;
}
.under {
    * {
        margin: .3em;
        border-radius: 10px;
        color: rgb(246, 234, 247);
    }
    //background-color: rgb(219, 106, 31);
    padding: .5em;
    border-radius: 15px;
    margin-top: .6em;
    margin-bottom: .6em;
}