<app-header [title]="'Identity'"></app-header>

<main class="body shadow pull-up-3">
    <mat-spinner *ngIf="fetchingIdentity || updatingIdentity" [diameter]="20" mode="indeterminate"></mat-spinner>

    <section class="toolbar d-flex align-items-center justify-content-end">
      <p class="key-value-text"><span>Identity:</span> <span>{{accountType}}</span></p>
  </section>


    <section class="req d-flex align-items-center justify-content-between shadow-sm p-2">
        <span class="p-2">Head Admin</span>
        <span class="p-2 d-flex align-items-center"><mat-slide-toggle  [(ngModel)]="identity.isHeadAdmin" (change)="updateAdminIdentity('head')"></mat-slide-toggle></span>
    </section>

    <section class="req d-flex align-items-center justify-content-between shadow-sm p-2">
        <span class="p-2">Super Admin</span>
        <span class="p-2 d-flex align-items-center"><mat-slide-toggle [(ngModel)]="identity.isSuperAdmin" (change)="updateAdminIdentity('super')"></mat-slide-toggle></span>
    </section>

    <section class="req d-flex align-items-center justify-content-between shadow-sm p-2">
      <span class="p-2">Sub Admin</span>
      <span class="p-2 d-flex align-items-center"><mat-slide-toggle [(ngModel)]="identity.isSubAdmin" (change)="updateAdminIdentity('sub')"></mat-slide-toggle></span>
    </section>
</main>
<app-footer></app-footer>