* {
    font-family: source-sans-pro-light;
}

span.date {
    font-family: .7em !important;
}

a.clickable {
    min-width: 4em !important;
    text-decoration: none !important;
    text-align: center;
}