<section (click)="navigateToChats()" class="req d-flex align-items-start justify-content-between shadow-sm p-2">

    <!-- Contributor Details-->
    <section class="contributor-details d-flex align-items-center justify-content-start">
      <!-- avatar -->
      <div class="avatar-placeholder shadow mr-2"></div>

      <!-- Contributor details -->
      <section class="d-flex align-self-center justify-content-center">
        <p class="contributor">
          <span class="name pb-1">{{name}}</span><br>
          <span class="account-type">
            <span class="type-text">Messages: {{totalUnreadMessages}}</span>
          </span>
        </p>
      </section>
    </section>

</section>

