<!-- alert -->
<app-alert [message]="feedback" [type]="type" *ngIf="feedback != ''"></app-alert>

<app-header [title]="'Check Password'"></app-header>

<main class="body shadow pull-up-3">

    <mat-spinner [diameter]="20" *ngIf="gettingPassword" mode="indeterminate" class="away-from-right"></mat-spinner>
    <!-- Phone Number -->

    <section *ngIf="passwordReceived" class="shadow mb-2 p-2 d-flex">
        <span>Password: <span class="danger-text">{{password}}</span></span>
    </section>

    <form [formGroup]="form" class="forms-input-container mt-4" (ngSubmit)="submit()">
        <section class="form-field d-flex shadow-sm flex-column p-2">
            <label class="label">Phone Number</label>

            <section class="input-container d-flex align-items-center">
               <input formControlName="phoneNumber" type="tel" class="input flex-grow-1" placeholder="Ex : 08155909541" />
            </section>

            <a class="clickable danger-text  justify-self-end align-self-end text-right" *ngIf="form.controls['phoneNumber'].errors?.required">This field is mandatory</a>
            <a class="clickable danger-text  justify-self-end align-self-end text-right" *ngIf="form.controls['phoneNumber'].errors?.minlength">Invalid phone number provided (must be 11 digits)</a>
        </section>

        
        <!-- CAP -->
        <section class="form-field d-flex shadow-sm flex-column p-2">
            <label class="label">CAP</label>

            <section class="input-container d-flex align-items-center">
               <input type="password" formControlName="cap" class="input flex-grow-1" placeholder="Company Authorization Password" />
            </section>

            <a class="clickable danger-text  justify-self-end align-self-end text-right" *ngIf="form.controls['cap'].errors?.required">This field is mandatory</a>
        </section>

        <!-- Check password -->
        <button [disabled]="form.invalid" type="submit" class="main-btn d-flex align-items-center justify-content-center align-self-end justify-self-end shadow mt-3">Check Password <i class="pi pi-arrow-right ml-2 pl-2"></i></button>

    </form>
</main>
<app-footer></app-footer>

