<!-- alert -->
<app-alert [message]="feedback" [type]="type" *ngIf="feedback != ''"></app-alert>


<header id="header">
    <!-- Toolbar -->
    <section class="toolbar d-flex align-items-center justify-content-between">
        <!-- Contributor Details-->
        <section class="contributor-details d-flex align-items-center justify-content-start">
  
          <!-- back arrow -->
          <i class="pi pi-arrow-left notifications-icon" style="font-size: 1.1rem" (click)="moveBack()"></i>
    
          <!-- Contributor details -->
          <section class="d-flex align-self-center justify-content-center">
            <p class="contributor">
              <span class="title pb-1">Company Commission</span>
            </p>
          </section>
        </section>
      
      <section class="aside d-flex">
        <!-- Notifications
        <i class="pi pi-ellipsis-v notifications-icon" style="font-size: 1.1rem"></i> -->
      </section>
  
  
    </section>
  
    <!-- commission board -->
    <section class="balance-board d-flex flex-column align-items-center justify-content-center">
      <p class="heading">Balance</p>
      <p class="detail"><span class="amount">{{company.account!!.commission.balance}}</span><span class="currency">NGN</span></p>
    </section>
  
    <!-- Options board -->
    <section class="options-board d-flex align-items-center justify-content-center">
  
  
    </section>
  
  </header>
  
  <main class="body shadow pull-up-5">
    <section>
      <p class="title d-flex align-items-center justify-content-between">Overseers Commissions</p>
    </section>
    
  
    <section>
      <div *ngFor="let superc of superContributorsCommissions">
        <app-commission-card
        [name]="superc.name"
        [overseer_id]="superc.overseer_id"
        [balance]="superc.balance"
        (makePayment)="makePayment($event)"
        ></app-commission-card>
      </div>
    </section>

    <section>
      <div *ngFor="let subc of subContributorsCommissions">
        <app-commission-card
        [name]="subc.name"
        [overseer_id]="subc.overseer_id"
        [balance]="subc.balance"
        (makePayment)="makePayment($event)"
        ></app-commission-card>
      </div>      
    </section>
</main>
<app-footer></app-footer>
<app-bottom-sheet [data]="bottomSheetData" #bottomSheet></app-bottom-sheet>