/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/primeicons/primeicons.css";

@import "../node_modules/primeng/resources/themes/nova-accent/theme.css";


// source sans pro font family
@font-face {
    font-family: source-sans-pro-black;
    src: url('./assets/fonts/source-sans-pro/SourceSansPro-Black.otf');
}

@font-face {
    font-family: source-sans-pro-bold;
    src: url('./assets/fonts/source-sans-pro/SourceSansPro-Semibold.otf');
}

@font-face {
    font-family: source-sans-pro-regular;
    src: url('./assets/fonts/source-sans-pro/SourceSansPro-Regular.otf');
}

@font-face {
    font-family: source-sans-pro-light;
    src: url('./assets/fonts/source-sans-pro/SourceSansPro-Light.otf');
}

@font-face {
    font-family: source-sans-pro-light-italics;
    src: url('./assets/fonts/source-sans-pro/SourceSansPro-LightIt.otf');
}

// raleway font family
@font-face {
    font-family: raleway-black;
    src: url('./assets/fonts/static/Raleway-Black.ttf');
}

@font-face {
    font-family: raleway-bold;
    src: url('./assets/fonts/static/Raleway-Bold.ttf');
}

@font-face {
    font-family: raleway-extra-bold;
    src: url('./assets/fonts/static/Raleway-ExtraBold.ttf');
}

@font-face {
    font-family: raleway-light;
    src: url('./assets/fonts/static/Raleway-Light.ttf');
}

@font-face {
    font-family: raleway-light-italics;
    src: url('./assets/fonts/static/Raleway-LightItalic.ttf');
}

@font-face {
    font-family: raleway-regular;
    src: url('./assets/fonts/static/Raleway-Regular.ttf');
}

// color palletes
.danger-text {
    color: #f55f5f !important;
}

.primary-text {
    color: #499e49 !important;
}

.danger-bg {
    background-color: #f55f5f !important;
}

.primary-bg {
    background-color: #499e49 !important;
}

// body styles
main.body {
    background-color: #f5fafdd7;
    padding: .8em;
    border-radius: 1.3em 1.3em 0 0;
    min-height: 50em;

    section.toolbar {
        .key-value-text {
            font-family: source-sans-pro-light;
            padding: .5em;
            span {
                &:first-child {
                    color: rgba(58, 58, 58, 0.582);
                }
        
                &:last-child {
                    font-family: source-sans-pro-bold;
                    color: #f55f5f;
                    font-size: 1.4em;
                    margin-left: .4em;
                }
            }
        }
    }

    section {

        p.title {
            font-family: source-sans-pro-bold;
            font-size:  1.4em;
            color: #f55f5fd2;
            margin-left: .4em;

            span.btn {
                font-family: .9em;
                font-family: source-sans-pro-light;
                color: #00923F;
            }
        }
    }
}

// form field designs
section.form-field {
    background-color: white;
    margin-bottom: 1em;
    border-radius: 1px;
    * {
        font-family: raleway-regular;
        //width: 100%;
        padding: .1em;
    }

    label {
        font-family: source-sans-pro-black !important;
        color: rgba(0, 0, 0, 0.568);
    }

    input {
        border: none;
        
        &::placeholder {
            font-family: source-sans-pro-light;
        }

        &:focus {
            outline: none;
        }
    }

    a.clickable {
        font-size: .8em;
        cursor: pointer;
        text-align: end;
        text-decoration: none;
        color : #00923F;
        &::selection {
            background-color: transparent;
        }
    }

    .instruction {
        font-family: raleway-light;
    }
}

.req {
    &::selection {
        background-color: transparent;
    }
    span {
        font-family: source-sans-pro-light;
        color: #00923F;

        &:last-child {
            font-family: source-sans-pro-bold;
            color: coral;

            i {
                color: rgba(255, 127, 80, 0.452);
                margin-left: .6em;
            }
        }
    }
}

.main-btn {
    background-color: #00923F;
    padding: .6em 1em;
    border-radius: 1px;
    border: none;
    color: white;
    align-self: flex-end;
    justify-self: flex-end;
    font-family: source-sans-pro-light;
    align-self: flex-end;
    justify-self: flex-end;

    .pi-arrow-right {
        padding-left: 1.1em;
        color: rgba(255, 255, 255, 0.644);
    }
}

span.clickable {
    cursor: pointer;
    text-align: end;
    text-decoration: none;
    color : #00923F;
    font-family: source-sans-pro-black;
    &::selection {
        background-color: transparent;
    }
}

// pull ups
.pull-up-5 {
    margin-top: -4.2em;
}

.pull-up-4 {
    margin-top: -3.2em;
}

.pull-up-3 {
    margin-top: -2.2em;
}

.pull-up-2 {
    margin-top: -1.2em;
}

.pull-up-1 {
    margin-top: -.2em;
}


// obsolete and should be removed soon
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$mat-myapp-primary: (
    50: #e8eaf6,
    100: #c5cae9,
    200: #9fa8da,
    300: #7986cb,
    400: #5c6bc0,
    500: #3f51b5,
    600: #3949ab,
    700: #303f9f,
    800: #283593,
    900: #1a237e,
    A100: #8c9eff,
    A200: #536dfe,
    A400: #3d5afe,
    A700: #304ffe,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-myapp-accent: (
    50 : #fffaed,
    100 : #fff4d1,
    200 : #ffecb3,
    300 : #ffe494,
    400 : #ffdf7d,
    500 : #ffd966,
    600 : #ffd55e,
    700 : #ffcf53,
    800 : #ffca49,
    900 : #ffc038,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fff5e1,
    A700 : #ffedc8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: mat-palette($mat-myapp-primary);
$accent: mat-palette($mat-myapp-accent);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

.away-from-left {
    margin-left: .5em !important;
}
.away-from-right {
    margin-right: .5em !important;
}
.away-from-top {
    margin-top: .5em !important;
}
.away-from-bottom {
    margin-bottom: .5em !important;
}

.flexed {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

// justify self
.justify-self-center {
    justify-self: center;
}
.justify-self-start {
    justify-self: flex-start;
}
.justify-self-end {
    justify-self: flex-end;
}

.justify-self-baseline {
    justify-self: baseline;
}

// align self
.align-self-center {
    align-self: center;
}
.align-self-start {
    align-self: flex-start;
}
.align-self-end {
    align-self: flex-end;
}
.align-self-baseline {
    align-self: baseline;
}

// align content
.align-items-center {
    align-items: center;
}
.align-items-start {
    align-items: flex-start;
}
.align-items-end {
    align-items: flex-end;
}

// jutify content
.justify-content-center {
    justify-content: center;
}
.justify-content-start {
    justify-content: flex-start;
}
.justify-content-end {
    justify-content: flex-end;
}
.justify-content-space-between {
    justify-content: space-between;
}
.justify-content-space-around {
    justify-content: space-around;
}
.justify-content-space-evenly {
    justify-content: space-evenly;
}

// paddings & margins
//padding
// .2em
.padding-point-2em {
    padding: .2em;
}
.padding-left-point-2em {
    padding-left: .2em;
}
.padding-right-point-2em {
    padding-right: .2em;
}
.padding-top-point-2em {
    padding-top: .2em;
}
.padding-bottom-point-2em {
    padding-bottom: .2em;
}

// .5em
.padding-point-5em {
    padding: .5em;
}
.padding-left-point-5em {
    padding-left: .5em;
}
.padding-right-point-5em {
    padding-right: .5em;
}
.padding-top-point-5em {
    padding-top: .5em;
}
.padding-bottom-point-5em {
    padding-bottom: .5em;
}

// .8em
.padding-point-8em {
    padding: .8em;
}
.padding-left-point-8em {
    padding-left: .8em;
}
.padding-right-point-8em {
    padding-right: .8em;
}
.padding-top-point-8em {
    padding-top: .8em;
}
.padding-bottom-point-8em {
    padding-bottom: .8em;
}

// 1.1em
.padding-one-point-1em {
    padding: 1.1em;
}
.padding-left-one-point-1em {
    padding-left: 1.1em;
}
.padding-right-one-point-1em {
    padding-right: 1.1em;
}
.padding-top-one-point-1em {
    padding-top: 1.1em;
}
.padding-bottom-one-point-1em {
    padding-bottom: 1.1em;
}

// 1.4em
.padding-one-point-4em {
    padding: 1.4em;
}
.padding-left-one-point-4em {
    padding-left: 1.4em;
}
.padding-right-one-point-4em {
    padding-right: 1.4em;
}
.padding-top-one-point-4em {
    padding-top: 1.4em;
}
.padding-bottom-one-point-4em {
    padding-bottom: 1.4em;
}

// margin
// .2em
.margin-point-2em {
    margin: .2em;
}
.margin-left-point-2em {
    margin-left: .2em;
}
.margin-right-point-2em {
    margin-right: .2em;
}
.margin-top-point-2em {
    margin-top: .2em;
}
.margin-bottom-point-2em {
    margin-bottom: .2em;
}

// .5em
.margin-point-5em {
    margin: .5em;
}
.margin-left-point-5em {
    margin-left: .5em;
}
.margin-right-point-5em {
    margin-right: .5em;
}
.margin-top-point-5em {
    margin-top: .5em;
}
.margin-bottom-point-5em {
    margin-bottom: .5em;
}

// .8em
.margin-point-8em {
    margin: .8em;
}
.margin-left-point-8em {
    margin-left: .8em;
}
.margin-right-point-8em {
    margin-right: .8em;
}
.margin-top-point-8em {
    margin-top: .8em;
}
.margin-bottom-point-8em {
    margin-bottom: .8em;
}

// 1.1em
.margin-one-point-1em {
    margin: 1.1em;
}
.margin-left-one-point-1em {
    margin-left: 1.1em;
}
.margin-right-one-point-1em {
    margin-right: 1.1em;
}
.margin-top-one-point-1em {
    margin-top: 1.1em;
}
.margin-bottom-one-point-1em {
    margin-bottom: 1.1em;
}

// 1.4em
.margin-one-point-4em {
    margin: 1.4em;
}
.margin-left-one-point-4em {
    margin-left: 1.4em;
}
.margin-right-one-point-4em {
    margin-right: 1.4em;
}
.margin-top-one-point-4em {
    margin-top: 1.4em;
}
.margin-bottom-one-point-4em {
    margin-bottom: 1.4em;
}

// 1.7em
.margin-one-point-7em {
    margin: 1.7em;
}
.margin-left-one-point-7em {
    margin-left: 1.7em;
}
.margin-right-one-point-7em {
    margin-right: 1.7em;
}
.margin-top-one-point-7em {
    margin-top: 1.7em;
}
.margin-bottom-one-point-7em {
    margin-bottom: 1.7em;
}

// curves
.curved-point-9em {
    border-radius: .9em;
}
.curved-point-8em {
    border-radius: .8em;
}
.curved-point-7em {
    border-radius: .7em;
}
.curved-point-6em {
    border-radius: .6em;
}
.curved-point-5em {
    border-radius: .5em;
}
.curved-point-4em {
    border-radius: .4em;
}
.curved-point-3em {
    border-radius: .3em;
}
.curved-point-2em {
    border-radius: .2em;
}
.curved-point-1em {
    border-radius: .1em;
}

.curved-top-point-9em {
    border-radius: .9em .9em 0 0;
}
.curved-top-point-8em {
    border-radius: .8em .8em 0 0;
}
.curved-top-point-7em {
    border-radius: .7em .7em 0 0;
}
.curved-top-point-6em {
    border-radius: .6em .6em 0 0;
}
.curved-top-point-5em {
    border-radius: .5em .5em 0 0;
}
.curved-top-point-4em {
    border-radius: .4em .4em 0 0;
}
.curved-top-point-3em {
    border-radius: .3em .3em 0 0;
}
.curved-top-point-2em {
    border-radius: .2em .2em 0 0;
}
.curved-top-point-1em {
    border-radius: .1em .1em 0 0;
}

.curved-bottom-point-9em {
    border-radius: 0 0 .9em .9em;
}
.curved-bottom-point-8em {
    border-radius: 0 0 .8em .8em;
}
.curved-bottom-point-7em {
    border-radius: 0 0 .7em .7em;
}
.curved-bottom-point-6em {
    border-radius: 0 0 .6em .6em;
}
.curved-bottom-point-5em {
    border-radius: 0 0 .5em .5em;
}
.curved-bottom-point-4em {
    border-radius: 0 0 .4em .4em;
}
.curved-bottom-point-3em {
    border-radius: 0 0 .3em .3em;
}
.curved-bottom-point-2em {
    border-radius: 0 0 .2em .2em;
}
.curved-bottom-point-1em {
    border-radius: 0 0 .1em .1em;
}

// borders
.border-grey-point-1em {
    border: .1em solid hsla(0, 0%, 50%, 0.651);
}
.border-grey-point-3em {
    border: .3em solid hsla(0, 0%, 50%, 0.651);
}
.border-grey-point-5em {
    border: .5em solid hsla(0, 0%, 50%, 0.651);
}

.border-green-point-1em {
    border: .1em solid rgba(76, 197, 76, 0.692);
}
.border-green-point-3em {
    border: .3em solid rgba(76, 197, 76, 0.692);
}
.border-green-point-5em {
    border: .5em solid rgba(76, 197, 76, 0.692);
}

.border-orange-point-1em {
    border: .1em solid rgba(219, 106, 31, 0.644);
}
.border-orange-point-3em {
    border: .3em solid rgba(219, 106, 31, 0.644);
}
.border-orange-point-5em {
    border: .5em solid rgba(219, 106, 31, 0.644);
}

.border-yellow-point-1em {
    border: .1em solid rgba(199, 196, 43, 0.658);
}
.border-yellow-point-3em {
    border: .3em solid rgba(199, 196, 43, 0.658);
}
.border-yellow-point-5em {
    border: .5em solid rgba(199, 196, 43, 0.658);
}

.border-blue-point-1em {
    border: .1em solid rgba(31, 113, 219, 0.671);
}
.border-blue-point-3em {
    border: .3em solid rgba(31, 113, 219, 0.671);
}
.border-blue-point-5em {
    border: .5em solid rgba(31, 113, 219, 0.671);
}

.border-pink-point-1em {
    border: .1em solid rgba(219, 31, 178, 0.692);
}
.border-pink-point-3em {
    border: .3em solid rgba(219, 31, 178, 0.692);
}
.border-pink-point-5em {
    border: .5em solid rgba(219, 31, 178, 0.692);
}

// shadows

.big-grey-shadow {
    box-shadow: 1px 1px 1.5em rgba(128, 128, 128, 0.712);
}

.small-grey-shadow {
    box-shadow: 1px 1px .5em rgba(128, 128, 128, 0.712);
}

.big-orange-shadow {
    box-shadow: 1px 1px 1.5em  rgba(219, 106, 31, 0.644);
}

.small-orange-shadow {
    box-shadow: 1px 1px .5em rgba(219, 106, 31, 0.644);
}

.big-green-shadow {
    box-shadow: 1px 1px 1.5em  rgba(76, 197, 76, 0.692);
}

.small-green-shadow {
    box-shadow: 1px 1px .5em rgba(76, 197, 76, 0.692);
}

.big-yellow-shadow {
    box-shadow: 1px 1px 1.5em  rgba(199, 196, 43, 0.658);
}

.small-yellow-shadow {
    box-shadow: 1px 1px .5em rgba(199, 196, 43, 0.658);
}

.big-blue-shadow {
    box-shadow: 1px 1px 1.5em  rgba(31, 113, 219, 0.671);
}

.small-blue-shadow {
    box-shadow: 1px 1px .5em rgba(31, 113, 219, 0.671);
}

.big-pink-shadow {
    box-shadow: 1px 1px 1.5em  rgba(219, 31, 178, 0.692);
}

.small-pink-shadow {
    box-shadow: 1px 1px .5em rgba(219, 31, 178, 0.692);
}

// background-color
.background-orange  {
    background-color: rgb(219, 106, 31);
}
.background-orange-faded  {
    background-color: rgba(219, 106, 31, 0.644);
}
.background-green  {
    background-color: rgb(76, 197, 76);
}
.background-green-faded  {
    background-color: rgba(76, 197, 76, 0.692);
}
.background-yellow  {
    background-color: rgb(199, 196, 43);
}
.background-yellow-faded  {
    background-color: rgba(199, 196, 43, 0.658);
}
.background-blue  {
    background-color: rgb(31, 113, 219);
}
.background-blue-faded  {
    background-color: rgba(31, 113, 219, 0.671);
}
.background-pink  {
    background-color: rgb(219, 31, 178);
}
.background-pink-faded  {
    background-color: rgba(219, 31, 178, 0.692);
}
.background-white {
    background-color: white;
}
.background-white-faded {
    background-color: hsla(0, 0%, 100%, 0.699);
}

// color
.color-orange  {
    color: rgb(219, 106, 31);
}
.color-orange-faded  {
    color: rgba(219, 106, 31, 0.644);
}
.color-green  {
    color: rgb(76, 197, 76);
}
.color-green-faded  {
    color: rgba(76, 197, 76, 0.692);
}
.color-yellow  {
    color: rgb(199, 196, 43);
}
.color-yellow-faded  {
    color: rgba(199, 196, 43, 0.658);
}
.color-blue  {
    color: rgb(31, 113, 219);
}
.color-blue-faded  {
    color: rgba(31, 113, 219, 0.671);
}
.color-pink  {
    color: rgb(219, 31, 178);
}
.color-pink-faded  {
    color: rgba(219, 31, 178, 0.692);
}

.color-white {
    color: white;
}
.color-white-faded {
    color: hsla(0, 0%, 100%, 0.699);
}

.color-black {
    color: black;
}
.color-black-faded {
    color: rgba(0, 0, 0, 0.616)
}

// just to test
.box-example {
    border: 1px solid red;
    width: 4em;
    height: 4em;   
}


.occupy {
    width: 100%;
}
.occupy-90-percent {
    width: 90%;
}
.occupy-80-percent {
    width: 80%;
}
.occupy-70-percent {
    width: 70%;
}
.occupy-60-percent {
    width: 60%;
}
.occupy-50-percent {
    width: 50%;
}
.occupy-40-percent {
    width: 40%;
}
.occupy-30-percent {
    width: 30%;
}
.occupy-20-percent {
    width: 20%;
}
.occupy-10-percent {
    width: 10%;
}
.no-padding {
    padding: 0 !important;
}
.no-margin {
    margin: 0 !important;
}

.biggest {
    font-size: 2em !important;
}

.bigger {
    font-size: 1.3em !important;
}

.big {
    font-size: .9em !important;
}
